@import "../mixins/flexbox";

footer {
	background: black;
	border-bottom: 10px solid $red;
	color: white;
	font-size: 1.25em;
	width: 100%;
	a {
		color: white;
	}
	.footer--inner {
		display: flex;
		flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 1200px;
 	  padding: 50px 15px;
    width: 100%;
    span {
    	display: block;
    	font-size: 14px;
    	margin-right: 20px;
    	width: 100%;
    }
	}
}

@media (min-width: $screen-lg) {
	footer {
		.footer--inner {
			align-items: center;
			justify-content: center;
	    flex-direction: row;
	    padding: 50px 10px;
	    span {
	    	width: auto;
	    }
		}
	}
}