@import "../mixins/flexbox";

footer {
	background: black;
	border-bottom: 10px solid $red;
	color: white;
	font-size: 1.25em;
	width: 100%;
	a {
		color: white;
	}
	.footer--inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto;
    max-width: 1200px;
 	  padding: 50px 15px;
    width: 100%;
	}
	.col-1,
	.col-2 {
		line-height: 2;
		padding-bottom: 20px;
		width: 95%;
	}
}

@media (min-width: $screen-lg) {
	footer {
		.footer--inner {
	    flex-direction: row;
	    padding: 50px 10px;
		}
		.col-1,
		.col-2 {
			width: 33%;
		}
	}
}