@import "../mixins/flexbox";

nav {
	background: transparent;
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	width: 100%;
	z-index: 100;
	.nav-innerwrap {
		@include flexbox;
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
		margin: auto;
		max-width: 1164px;
		width: 95%;
	}
	.menu {
		display: none;
		a {
			color: white;
			padding: 20px 0;
		}
		li {
			font-family: $monospace;
			letter-spacing: 2px;
			margin-right: 40px;
			&:last-of-type {
				margin: 0;
			}
			&:hover {
				border-bottom: 1px solid white;
			}
		}
	}
}

@media (min-width: $screen-lg) {
	nav {
		.menu {
			@include flexbox;
			@include flex-direction(row);
		}
	}
}