@import 'aspect-ratio';
@import 'vertical-center-flex';

@mixin hero {
	@include aspect-ratio(16,9,picture);
  color: $white;
  img {
  	width: 100%;
  }
	.continue-arrow {
		bottom: 0;
		font-size: 2vw;
		left: 0;
		padding: 2em 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}