///////////////////////////////
// ************************* //
//         BREAKPOINTS       //
// ************************* //
///////////////////////////////

$screen-sm: 480px;
$screen-md: 600px;
$screen-lg: 768px;
$screen-xlg: 1382px;
$screen-xxl: 1900px;