///////////////////////////////
// ************************* //
//         BREAKPOINTS       //
// ************************* //
///////////////////////////////

$bp2 : 480px;
$bp3 : 600px;
$bp4 : 768px;
$bp5 : 992px;
$bp6 : 1382px;
$bp7 : 1900px;

$screen-sm: $bp2;
$screen-md: $bp3;
$screen-lg: $bp4;
$screen-xlg: $bp5;
$screen-xxl: $bp6;