@import "colors";
@import "mixins/vertical-center-flex";

$serif: 'Merriweather', serif;
$sans-serif: 'Roboto', sans-serif;
$monospace: 'Source Code Pro', monospace;
$futura: "futura-pt",sans-serif;

h1, h2, h3,
h4, h5 {
	font-family: $futura;
	margin: 0;
	padding: 0;
}

.small-heading {
	display: block;
	font-weight: bold;
	padding-bottom: 10px;
	text-transform: uppercase;
}