@import "colors";
@import "mixins/vertical-center-flex";

$serif: 'Merriweather', serif;
$sans-serif: 'Roboto', sans-serif;
$monospace: 'Source Code Pro', monospace;
$futura: "futura-pt",sans-serif;

h1, h2, h3,
h4, h5 {
	font-family: $futura;
	margin: 0;
	padding: 0;
}

.h2 {
	@include vertical-center-flex;
	bottom: 0;
	font-size: 8.5vw;
	font-weight: 500;
	left: 0;
	letter-spacing: .3em;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
}

.h3 {
	display: inline-block;
	font-family: $futura;
	font-weight: 900;
	text-transform: uppercase;
}