@import "mixins/aspect-ratio";
@import "mixins/flexbox";
@import "mixins/flex-grid";

iframe {
	height: 100%;
	width: 100%;
}

.two-video-grid {
  @include flexgrid(
    $columns: 1,
    $gutter: 10
  );
	li {
		@include aspect-ratio(16,9,iframe);
		margin-bottom: 10px;
	}
}

.three-video-grid {
  @include flexgrid(
    $columns: 1,
    $gutter: 10
  );
	li {
		@include aspect-ratio(16,9,iframe);
		margin-bottom: 10px;
		&:hover {
			.video-overlay {
				opacity: 0;
			}
		}
	}
}

.four-video-grid {
  @include flexgrid(
    $columns: 1,
    $gutter: 10
  );
	li {
		@include aspect-ratio(16,9,iframe);
		margin-bottom: 10px;
	}
}

@media (min-width: $screen-lg) {
	.two-video-grid {
	  @include flexgrid(
	    $columns: 2,
	    $gutter: 20
	  );
	  li {
	  	margin-bottom: 20px;
	  }
	}
	.three-video-grid {
	  @include flexgrid(
	    $columns: 3,
	    $gutter: 20
	  );
	  li {
	  	margin-bottom: 20px;
	  }
	}
	.four-video-grid {
	  @include flexgrid(
	    $columns: 4,
	    $gutter: 20
	  );
	  li {
	  	margin-bottom: 20px;
	  }
	}
}