@charset "utf-8";

@import "normalize";
@import "typography";
@import "colors";
@import "breakpoints";

@import "mixins/ease";
@import "mixins/flexbox";
@import "mixins/vertical-center-flex";

@import "partials/header";

@import "views/studio";

*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: $white;
  color: $black;
  font-family: $sans-serif;
  height: 100%;
  overflow: scroll;
  &.studio {
    color: $black;
  }
}

a {
  display: block;
  font-family: $monospace;
  text-decoration: none;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

