@charset "utf-8";

@import "normalize";
@import "typography";
@import "colors";
@import "breakpoints";

@import "mixins/ease";
@import "mixins/flexbox";
@import "mixins/vertical-center-flex";

@import "partials/header";

@import "views/studio";

*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: $white;
  color: $black;
  font-family: $sans-serif; 
  &.studio {
    .studio-link {
      border-bottom: 1px solid white;
    }
  }
  &.licensing {
    .licensing-link {
      border-bottom: 1px solid white;
    }
  }
  &.composition {
    .composition-link {
      border-bottom: 1px solid white;
    }
  }
}

a {
  display: block;
  font-family: $monospace;
  text-decoration: none;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  overflow-x: hidden;
  position: relative;
  .toggle-menu-btn {
    background: rgba(221,225,168,.96);
    cursor: pointer;
    display: block;
    left: 0;
    padding: 6px 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    .line{
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      background-color: white;
      display: block;
      height: 1px;
      margin: 9px auto;
      transition: all 0.3s ease-in-out;
      width: 30px;
    }
  }
  .page-push-nav {
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.5s;
    background: rgba(221,225,168,.96);
    color: black;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s;
    width: 300px;
    z-index: 100;
    ul {
      @include flexbox;
      @include flex-direction(column);
      margin: 50px 0;
      text-align: center;
      text-transform: uppercase;
      a {
        color: black;
        padding: 2em;
        &:hover {
          opacity: .6;
        }
      }
    }
    .page-push-nav-heading {
      border-bottom: 1px solid rgba(black, 0.1);
      border-top: 1px solid rgba(black, 0.1);
      display: inline-block;
      &:first-of-type,
      &:last-of-type {
        border-top: 0;
      }
    }
  } 

  .page-push-wrap {
    -webkit-transition: -webkit-transform 0.5s;
    height: 100%;
    perspective: 1000px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    z-index: 99;
  }
  &.open {
    .page-push-nav {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    } 
    .page-push-wrap {
      -webkit-transform: translate3d(300px, 0, 0);
      transform: translate3d(300px, 0, 0);
    }
    .toggle-menu-btn .line {
      &:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
        -o-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}

