@charset "utf-8";

@import "normalize";
@import "typography";
@import "colors";
@import "breakpoints";

@import "mixins/ease";
@import "mixins/flexbox";
@import "mixins/hero";
@import "mixins/vertical-center-flex";

@import "partials/footer";

@import "views/index";
@import "views/old_layout";
@import "views/composition";
@import "views/licensing";

*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

.fullscreen-bg {
  picture {
    position: fixed;
    top: 0;
    left: 0;
  }
}

body {
  background: $white;
  color: $black;
  font-family: $futura; 
  &.index {
    h1 {
      color: rgba(138,255,222,.8);  
      font-weight: 400;
      font-style: normal; 
      font-size: 10vw;
      letter-spacing: .3em;
      text-transform: uppercase;
    }
    .hero{
      &.primary {
        background-color:  hsla(69, 0%, 56%, 0.11);
        color: hsla(147, 91%, 78%, 0.8);
      }
    }  
  }
  &.licensing {
    .licensing-link {
      border-bottom: 1px solid white;
    }
    .hero {
      background-color: hsla(190, 56%, 16%, 0.26);
      color: hsla(168, 84%, 60%, 0.8);
    } 
  }
  &.composition {
    .composition-link {
      border-bottom: 1px solid white;
    }
    .hero {
      background-color:  hsla(205, 54%, 11%, 0.79);
      color: hsla(194, 100%, 64%, 0.85);   
    } 
  }
}

a {
  font-family: $futura;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  overflow-x: hidden;
  position: relative;
  .toggle-menu-btn {
    background: rgba(255,255,255,.6);
    cursor: pointer;
    display: block;
    left: 0;
    padding: 6px 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    .line{
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      background-color: black;
      display: block;
      height: 1px;
      margin: 9px auto;
      transition: all 0.3s ease-in-out;
      width: 30px;
    }
  }
  .page-push-nav {
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.5s;
    background: white;
    border-right: 1px solid rgba(black, 0.1);
    color: black;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s;
    width: 300px;
    z-index: 100;
    ul {
      @include flexbox;
      @include flex-direction(column);
      margin: 50px 0;
      text-align: center;
      text-transform: uppercase;
      a {
        color: black;
        display: block;
        padding: 2em;
        &:hover {
          opacity: .6;
        }
      }
    }
    .page-push-nav-heading {
      border-bottom: 1px solid rgba(black, 0.1);
      border-top: 1px solid rgba(black, 0.1);
      display: inline-block;
      &:first-of-type,
      &:last-of-type {
        border-top: 0;
      }
    }
  } 

  .page-push-wrap {
    -webkit-transition: -webkit-transform 0.5s;
    height: 100%;
    perspective: 1000px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    z-index: 99;
  }
  &.open {
    .page-push-nav {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    } 
    .page-push-wrap {
      -webkit-transform: translate3d(300px, 0, 0);
      transform: translate3d(300px, 0, 0);
    }
    .toggle-menu-btn .line {
      &:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
        -o-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}

