@import "../mixins/aspect-ratio";
@import "../mixins/flexbox";
@import "../mixins/flex-grid";

iframe {
	height: 100%;
	width: 100%;
}
.videos {
	margin: auto;
	//max-width: 1200px;
	padding: 10px;
	width: 100%;
}

.hero-video {
	@include aspect-ratio(16,9,iframe);
	margin-bottom: 10px;
}

.two-video-grid {
  @include flexgrid(
    $columns: 1,
    $gutter: 10
  );
	li {
		@include aspect-ratio(16,9,iframe);
		margin-bottom: 10px;
	}
}

.three-video-grid {
  @include flexgrid(
    $columns: 1,
    $gutter: 10
  );
	li {
		@include aspect-ratio(16,9,iframe);
		margin-bottom: 10px;
	}
}

.four-video-grid {
  @include flexgrid(
    $columns: 1,
    $gutter: 10
  );
	li {
		@include aspect-ratio(16,9,iframe);
		margin-bottom: 10px;
	}
}

@media (min-width: $screen-lg) {
	.composition {
		.videos {
			padding: 20px;
		}
	}
	.hero-video {
		margin-bottom: 20px;
	}
	.two-video-grid {
	  @include flexgrid(
	    $columns: 2,
	    $gutter: 20
	  );
	  li {
	  	margin-bottom: 20px;
	  }
	}
	.three-video-grid {
	  @include flexgrid(
	    $columns: 3,
	    $gutter: 20
	  );
	  li {
	  	margin-bottom: 20px;
	  }
	}
	.four-video-grid {
	  @include flexgrid(
	    $columns: 4,
	    $gutter: 20
	  );
	  li {
	  	margin-bottom: 20px;
	  }
	}
}