@import "../mixins/flexbox";

.index {
	background: black;
	header,
	footer, {
		display: none;
		visibility: hidden;
	}
	.page-push-wrap {
		height: 100vh;
	}
}

.landing-menu-wrap {
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.landing-menu {
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	h1 {
		width: 100%;
	}
	li {
		font-size: 16px;
		margin: 20px;
	}
	a {
		color: white;
		display: block;
		text-transform: uppercase;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media (min-width: $screen-lg) {
	.landing-menu {
		@include flex-direction(row);
	}
	.index {
		.page-push-wrap {
			height: auto;
		}
	}
}