@import "../mixins/aspect-ratio";
@import "../mixins/flexbox";

.licensing {
	.licensing-cta {
		@include flexbox;
		a {
			border: 1px solid black;
			border-radius: 999em;
			color: black;
			display: inline-block;
			margin: auto;
			opacity: 1;
			padding: 20px;
			text-align: center;
			&:hover {
				opacity: .6;
			}
		}
	}
	aside {
		border: 0;
		padding-top: 0;
	}
}

