@import "../mixins/aspect-ratio";
@import "../mixins/flexbox";
@import "../mixins/ease";
@import "../mixins/hero";
@import "../mixins/vertical-center-flex";

.hero {
	@include hero;
	color: rgba(221,225,168,.96);
	img {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: -1;
	}
}

.content-container {
	@include flexbox;
	@include flex-direction(column);
	background: $white;
	padding-bottom: 4em;
	position: relative;
	width: 100%;
	&.minbal {
		padding-top: 4em;
	}
	&.booking {
		aside {
			font-size: 14px;
			font-weight: bold;
			order: 2;
		}
		.h3 {
			order: 1;
		}
		.inner {
			order: 3;
		}
	}
}

.projects {
	h3 {
		border-bottom: 1px solid rgba(221,225,168,.96);
		font-size: .75em;
		margin-bottom: 1em;
		padding-bottom: 1em;
		text-transform: uppercase;
		width: 100%;
	}
	.projects-list {
		@include flexbox;
		@include flex-flow(row wrap);
		@include justify-content(space-between);
		font-size: 14px;
		margin-bottom: 2em;
		width: 100%;
		li {
			margin-bottom: .5em;
			width: 48%;
		}
	}
}


.content-container-body {
	@include flexbox;
	@include flex-direction(column);
	font-weight: 300;
	line-height: 1.6em;
	margin: auto;
	width: 90%;
	.inner {
		width: 100%;
		p {
			margin: 0;
			margin-bottom: 1em;
		}
	}
	.h3 {
		font-size: 1.35em;
		padding-bottom: 1em;
		text-align: center;
		width: 100%;
	}
	aside {
		font-family: $monospace;
		padding-top: 1em;
		font-size: 12px;
		width: 100%;
		h3 {
			font-weight: bold;
			margin-bottom: .15em;
			text-transform: uppercase;
		}
		ul {
			@include flexbox;
			@include flex-flow(row wrap);		
		}
		li {
			margin-bottom: 1em; 
			@include flexbox;
			@include flex-direction(column);
			width: 50%;
		}
	}
}

@media (min-width: $screen-lg) {
	body.studio:before {
	  height: 100vh;
	}
	.hero {
		margin-bottom: 8em;
	}
	.projects {
		.projects-list {
			li {
				width: 32%;
			}
		}
	}
	.content-container {
		@include flex-direction(row);
		@include flex-wrap(wrap);
		padding-bottom: 8em;
		&.minbal {
			padding-top: 8em;
		}
		&.booking {
			aside {
				order: initial;
			}
			.h3 {
				order: initial;
			}
			.inner {
				order: initial;
			}
		}
	}
	.content-container-body {
		@include flex-direction(row);
		margin: auto;
		max-width: 960px;
		width: 95%;
		.inner {
			margin-right: 4em;
			width: 60%;
			&.projects {
				width: 80%;
			}
		}
		.h3 {
			border: 0;
			margin-bottom: 0;
			padding-bottom: 0;
			text-align: left;
			width: 20%;
		}
		aside {
			border-top: 5px solid rgba(221,225,168,.96);
			text-align: left;
			width: 20%;
			ul {
				@include flex-flow(column nowrap);	
			}
			li {
				width: 100%;
			}
		}
	}
}

main {
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;

	.hamburger {
		background: white;
		color: black;
		display: block;
		padding: 10px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		.line{
		  width: 30px;
		  height: 1px;
		  background-color: black;
		  display: block;
		  margin: 9px auto;
		  -webkit-transition: all 0.3s ease-in-out;
		  -o-transition: all 0.3s ease-in-out;
		  transition: all 0.3s ease-in-out;
		}
	}
	.page-push-nav {
		border-right: 1px solid rgba(221,225,168,.96);
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 50px;
		z-index: 100;
		width: 300px;
		height: 100%;
		background: white;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}	
	.page-push-wrap {
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		height: 100%;
		overflow-y: scroll;
		transform-style: preserve-3d;
	}
	&.open {
		.page-push-nav {
	    -webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}	
		.page-push-wrap {
			-webkit-transform: translate3d(300px, 0, 0);
			transform: translate3d(300px, 0, 0);
		}
		.hamburger .line {
			&:nth-child(1) {
			  -webkit-transform: translateY(10px) rotate(45deg);
			  -ms-transform: translateY(10px) rotate(45deg);
			  -o-transform: translateY(10px) rotate(45deg);
			  transform: translateY(10px) rotate(45deg);
			}
			&:nth-child(2) {
			  opacity: 0;
			}
			&:nth-child(3) {
			  -webkit-transform: translateY(-10px) rotate(-45deg);
			  -ms-transform: translateY(-10px) rotate(-45deg);
			  -o-transform: translateY(-10px) rotate(-45deg);
			  transform: translateY(-10px) rotate(-45deg);
			}
		}
	}
}