@import "../mixins/aspect-ratio";
@import "../mixins/flexbox";
@import "../mixins/ease";
@import "../mixins/hero";
@import "../mixins/vertical-center-flex";

.hero {
	@include hero;
	background-image: url('https://static1.squarespace.com/static/58a0d3d646c3c41632ff44b9/t/58a14d1b46c3c4163204c46c/1486966045462/MNBL_cnslefx.jpg');
}

.hero-2 {
	@include hero;
	background-image: url('https://static1.squarespace.com/static/58a0d3d646c3c41632ff44b9/t/58a1dad2b3db2b39454e7d9a/1487002340964/MNBL_bassfx.jpg');
}

.content-container {
	@include flexbox;
	@include flex-direction(column);
	background: $white;
	position: relative;
	width: 100%;
}

.content-container-body {
	font-size: 17px;
	font-weight: 300;
	line-height: 1.6em;
	margin: auto;
	padding: 4em 0;
	width: 90%;
	p {
		margin: 1em 0;
	}
}

@media (min-width: $screen-lg) {
	.content-container {
		@include flex-direction(row);
		@include flex-wrap(wrap);
	}
	.content-container-body {
		padding: 8em 0;
		max-width: 960px;
		width: 100%;
	}
}