@import "../mixins/aspect-ratio";
@import "../mixins/flexbox";
@import "../mixins/ease";
@import "../mixins/hero";
@import "../mixins/vertical-center-flex";
@import "../helpers/accordion";

.hero {
	@include hero;
	background-image: linear-gradient(to right,#c7af80,#ba5f46);
	color: white;
	margin: auto;
	max-width: 1100px;
	overflow: hidden;
	width: 95%;
	picture {
		mix-blend-mode: screen;
	}
	&.primary {
		max-width: 100%;
		width: 100%;
	}
}

.content-container {
	@include flexbox;
	@include flex-direction(column);
	background: $white;
	padding: 4em 0;
	position: relative;
	width: 100%;
	&.booking {
		aside {
			font-size: 12px;
			font-weight: bold;
			order: 2;
		}
		.h3 {
			order: 1;
		}
		.inner {
			order: 3;
		}
	}
}

.studio-list-container {
	label {
		border-bottom: 1px solid rgba(221,225,168,.96);
		font-size: .75em;
		margin-bottom: 1em;
		padding-bottom: 1em;
		text-transform: uppercase;
		width: 100%;
	}
	.studio-list-container-list {
		@include flexbox;
		@include flex-flow(row wrap);
		@include justify-content(flex-start);
		font-size: 12px;
		margin-bottom: 2em;
		width: 100%;
		li {
			margin-bottom: .5em;
			padding-right: 2%;
			width: 48%;
		}
	}
}


.content-container-body {
	@include flexbox;
	@include flex-direction(column);
	font-weight: 300;
	line-height: 1.6em;
	margin: auto;
	width: 90%;
	.inner {
		width: 100%;
		p {
			margin: 0;
			margin-bottom: 1em;
		}
	}
	.h3 {
		font-size: 2em;
		line-height: 1.6em;
		padding-bottom: 1em;
		width: 100%;
	}
	aside {
		font-family: $monospace;
		font-size: 12px;
		padding-top: 1em;
		width: 100%;
		h3 {
			font-weight: bold;
			margin-bottom: .15em;
			text-transform: uppercase;
		}
		ul {
			@include flexbox;
			@include flex-flow(row wrap);		
		}
		li {
			@include flex-direction(column);
			@include flexbox;
			margin-bottom: 1em; 
			width: 50%;
		}
	}
}

@media (min-width: $screen-lg) {
	.studio-list-container {
		.studio-list-container-list {
			li {
				width: 32%;
			}
		}
	}
	.content-container {
		@include flex-direction(row);
		@include flex-wrap(wrap);
		padding: 8em 0;
		&.booking {
			padding-top: 0;
			aside {
				order: initial;
			}
			.h3 {
				order: initial;
			}
			.inner {
				order: initial;
			}
		}
	}
	.content-container-body {
		@include flex-direction(row);
		margin: auto;
		max-width: 1100px;
		width: 95%;
		.inner {
			margin-right: 4em;
			width: 60%;
			&.studio-list-container {
				width: 80%;
			}
		}
		.h3 {
			border: 0;
			margin-right: 2%;
			margin-bottom: 0;
			min-width: 220px;
			padding-bottom: 0;
			text-align: left;
			width: 20%;
		}
		aside {
			border-top: 5px solid rgba(221,225,168,.96);
			text-align: left;
			width: 20%;
			ul {
				@include flex-flow(column nowrap);	
			}
			li {
				width: 100%;
			}
		}
	}
}