---
title: Benjamin Balcom
---

<section class="landing-hero">
	<div class="landing-hero--video">
		<video autoplay="" muted="" loop="" playsinline="" poster="" id="impactVideo" src="https://s3.amazonaws.com/minbal-assets/477972405.mp4"><source src="https://s3.amazonaws.com/minbal-assets/477972405.mp4" type="video/mp4"></video>
	</div>
	<div class="landing-hero--overlay">
		<div class="landing-hero--overlay-copy">
			<h1>Benjamin Balcom is a composer and music producer for advertising, film, television and the recording arts.</h1>
		</div>
</section>

<section class="work--container">

	<h2>I work with artists, creatives, agencies and directors to make engaging experiences. Clients include PBS, Facebook, client, client...</h2>

	<ul class="three-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/203953854?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203948152?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203945066?title=0&byline=0&portrait=0" width="100%" frameborder="0"></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
	</ul>

	<ul class="three-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/203932733?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203884978?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/18356414?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
	</ul>

	<ul class="three-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/177103750?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203944387?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/239703229?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
    	</div>
		</li>
	</ul>

	<ul class="three-video-grid">
		<li>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/IbJQsbrwos0?showinfo=0" frameborder="0" allowfullscreen></iframe>
			<div class="video-overlay">
				<h3>Project Title</h3>
				<p>Client Name/Info</p>
	  	</div>
		</li>
	</ul>

</section>