---
title: Studio - Booking
---

<section class="content-container booking policy">
	<div class="content-container-body">
		<h3 class="h3">BOOKING</h3>
		<div class="inner">
			<p>Freelance engineers are welcome. Assistants are available for $100/day or $50/half-day.</p>
			<p>Rates are based on 10 hour days. Half-days should run no longer than 5 hours.</p>
			<p>We require a 50% deposit or payment in full to book studio time. A discount will be applied if you choose to pay in full when you book your session. Rates for paying in full are $225 per day or $155 per half-day. We are able to hold dates for a short time in order to confirm potential dates prior to booking.</p>
			<p>Additional fees are charged for use of the tape machines. The fees are $25/day for the use of the Scully 280 and a $15/day for use of the Ampex AG-440. Please notify us in advance if you will need tape for your session or inquire about studio reels for use in tracking basics or for mixdown if you are interested.</p>
			<p>For booking please contact our studio manager Doug Malone: <a href="mailto:doug@minbal.com">doug@minbal.com</a></p>
			<p>Rates are based on 10 hour days. Half-days should run no longer than 5 hours.</p>

			<p>The studio rates are $250 per day and $165 per half-day. We require a 50% deposit or payment in full to book studio time. A discount will be applied if you choose to pay in full when you book your session. Rates for paying in full are $225 per day or $155 per half-day. We are able to hold dates for a short time in order to confirm potential dates prior to booking.</p>

			<p>Freelance engineers are welcome. Assistants are available for $100/day or $50/half-day.</p>

			<p>Additional fees are charged for use of the tape machines. The fees are $25/day for the use of the Scully 280 and a $15/day for use of the Ampex AG-440. Please notify us in advance if you will need tape for your session or inquire about studio reels for use in tracking basics or for mixdown if you are interested.</p>

			<p>If you would like to record to tape please let us know when booking your session so that we have reels on hand for you. We can order the tape for your session or you have the option of using a rental reel of tape that belongs to the studio if you do not want to purchase your own personal reel. There is a $25/day fee for use of the Scully 280 and a $15/day fee for use of the the Ampex AG-440. We work extremely hard to keep both of these machines maintained and running well. They are however over 50 years old. If an issue arises during your session in which either of the tape machines is not functional, the session multitrack recorder will be switched to Pro Tools. Cancellation or rescheduling of a session due to one or both of the tape machines is not an option. In this event you will not be charged for the per day fee for the tape machine.</p>

			<p>All studio equipment is available for your use at no additional charge with the exception of the tape machines. Please let us know if you're interested in using the pianos in case we need to schedule a tuning.</p>

			<p>MINBAL is not responsible for data, session/project files or masters. We recommend that you bring in your own hard drive (Extended Journaled Mac Format). We also recommend that data be backed up periodically throughout your session as well as placed on additional drives after your session is over.</p>

			<p>Cancelled dates are subject to a 50% cancellation fee.</p>
		</div>
		<aside>
			<ul>
				<li>
					$250 per day
				</li>
				<li>
					$165 per half-day
				</li>
			</ul>			
		</aside>
	</div>
</section>