---
title: Compostion - MINBAL
---

<section class="hero">
	<h2 class="h2">Composition</h2>
	<img src="https://s3.amazonaws.com/minbal/studio/bass.jpg" alt=""/>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>
