---
title: Benjamin Balcom - Work
---

<section class="work--container">

	<h2>I work with artists, agencies, directors and creatives to make engaging experiences.</h2>

	<ul class="two-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/203953854?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203948152?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
	</ul>

	<ul class="two-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/203945066?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0"></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203932733?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
	</ul>

	<ul class="two-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/203884978?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/18356414?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
	</ul>

	<ul class="two-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/177103750?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203944387?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
	</ul>

	<ul class="two-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/239703229?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/IbJQsbrwos0?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</li>
	</ul>

</section>