@import "../breakpoints";
@import "../mixins/ease";

input[name='panel'] {
  display: none;
}

.label {
  @include ease(all, 400ms);
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 1;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: $screen-md) {
  .label {
    cursor: pointer;
    &:hover {
      opacity: .8;      
    }
    &:after {
      content: '\f078';
      font-family: fontawesome;
      position: absolute;
      right: 5px;
      top: 0px;
      transform: rotate(90deg);
      transition: .2s transform;
    }
  }
  .collapsible {
    display: block;
    width: 100%;
  }
  input[name='panel'] ~ .collapsible {
    overflow: hidden;
    height: 0;
    transform: rotate(0deg);
  }
  input[name='panel']:checked ~ .collapsible {
    height: auto; /* needs a numeric value here to keep transition */
  }
  input[name='panel']:checked ~ label:after {
    transform: rotate(0deg);
  }
}