---
title: Licensing - MINBAL
---

<section class="hero primary">
	<h1 class="h2">Licensing</h1>
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/licensing/optimized/drums_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/licensing/optimized/drums_bw_mobile.jpg" alt="Licensing"/>
	</picture>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container minbal">
	<div class="content-container-body">
		<h3 class="h3">Library</h3>
		<div class="inner">
			<p>MINBAL Licensing offers a wide range of music licensing and production services. Search our diverse music library for and license ready-made music, let us know how we can refine and tailor existing tracks to suit your needs, or hire MINBAL to create new, custom music for your project. Please contact  <a href="mailto:benj@minbal.com">benj@minbal.com</a> for more information on MINBAL Licensing.</p>
		</div>
		<aside>
			<section class="licensing-cta">
				<%=link_to "Click Here To Enter Music Library", "https://composerly.com/minbal", target: "_blank" %>
			</section>
		</aside>
	</div>
</section>