---
title: Licensing - MINBAL
---

<section class="hero primary">
	<h2 class="h2">Licensing</h2>
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/composition/optimized/piano_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/composition/optimized/piano_bw_mobile.jpg" alt="Bass Rig"/>
	</picture>
</section>

<!-- <iframe height="100%" style="width:100%;" src="https://composerly.com/minbal?embed=true&header=false&compact=false" frameborder="0"></iframe> -->