---
title: Licensing - MINBAL
---

<section class="hero primary">
	<h1 class="h2">Licensing</h1>
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/composition/optimized/piano_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/composition/optimized/piano_bw_mobile.jpg" alt="Bass Rig"/>
	</picture>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="licensing-cta">
	<%=link_to "Click Here To Enter Music Library", "#{config[:site_url]}/licensing/library" %>
</section>