<footer>
	<div class="footer--inner vcard">
		<div class="col-1">
			<span class="small-heading">Address:</span>
			<div class="adr">
			 <div class="street-address">1011 W. Isabell St.</div>
			 <span class="locality">Burbank</span>,
			 <span class="region">CA</span>
			 <span class="postal-code">91506</span>
			</div>
		</div>
		<div class="col-2">
			<span class="small-heading">Contact:</span>
			<a class="email" href="mailto:info@minbal.com">info@minbal.com</a>
			<div class="tel">555-555-5555</div>
		</div>
	</div>
</footer>