<footer>
	<div class="footer--inner vcard">
		<span>1011 W. Isabel St. Burbank, CA 91506</span> 
		<span>Tel: 773-263-6291</span>
		<span>
			<a class="email" href="mailto:info@minbal.com">info@minbal.com</a>
		</span>
	</div>
</footer>