<footer>
	<div class="footer-innerwrap">
		<a href="https://www.facebook.com/MINBAL/" target="_blank">
			<i class="fa fa-facebook" aria-hidden="true"></i>
		</a>
		<a href="https://www.instagram.com/explore/locations/12663329/minbal/" target="_blank">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		</a>
	</div>
</footer>