<header>
	<nav>
		<div class="nav-innerwrap">
			<ul class="menu">
				<li>
					<a href="/studio">Studio</a>
				</li>
				<li>
					<a href="/licensing">Licensing</a>
				</li>
				<li>
					<a href="/composition">Composition</a>
				</li>
			</ul>
		</div>
	</nav>
</header>