<header>
	<nav>
		<div class="nav-innerwrap">
			<ul class="menu">
				<li class="licensing-link">
					<%= link_to 'Licensing', "#{config[:site_url]}/licensing" %>
				</li>
				<li class="composition-link">
					<%=link_to "Composition", "#{config[:site_url]}/composition" %>
				</li>
			</ul>
		</div>
	</nav>
</header>