<div class="page-push-nav">
  <ul>
    <li class="page-push-nav-heading">
    	Studio
    </li>
    <li>
    	<%= link_to 'About', "#{config[:site_url]}/studio/#about" %>
    </li>
    <li>
    	<%= link_to 'Booking', "#{config[:site_url]}/studio/#booking" %>
    </li>
    <li>
    	<%= link_to 'Projects', "#{config[:site_url]}/studio/#projects" %>
    </li>
  </ul>
</div>