---
title: MINBAL
---

<section class="hero primary">
	<h2 class="h2">Minbal</h2>
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/main/optimized/main_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/main/optimized/main_bw_mobile.jpg" alt="Bass Rig"/>
	</picture>
</section>