---
title: MINBAL
---
<section class="hero primary" id="film-and-tv">
	<h1 class="h2">Film &amp; Television</h1>
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/composition/optimized/piano_bw_desktop_2.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/composition/optimized/piano_bw_mobile_2.jpg" alt="Bass Rig"/>
	</picture>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container minbal">
	<div class="content-container-body">
		<h3 class="h3">Projects</h3>
		<div class="inner">
			<p>MINBAL creates original music for film, advertising, television, podcasts, online content and more. We pride ourselves on our collaborative process, and work directly with filmmakers, creatives, ad agencies and music supervisors to create high quality compositions individually tailored to suit specific projects.</p>
		</div>
	</div>
</section>

<section class="videos">

	<ul class="three-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/203953854?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203948152?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203945066?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
	</ul>

	<div class="hero-video">
		<iframe src="https://player.vimeo.com/video/203932733?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>

	<ul class="four-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/203884978?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/18356414?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/177103750?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe src="https://player.vimeo.com/video/203944387?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
	</ul>

	<ul class="two-video-grid">
		<li>
			<iframe src="https://player.vimeo.com/video/239703229?title=0&byline=0&portrait=0&api=1" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</li>
		<li>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/IbJQsbrwos0?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</li>
	</ul>

</section>

<section class="hero primary" id="licensing">
	<h1 class="h2">Licensing</h1>
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/licensing/optimized/drums_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/licensing/optimized/drums_bw_mobile.jpg" alt="Licensing"/>
	</picture>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container minbal">
	<div class="content-container-body">
		<h3 class="h3">Library</h3>
		<div class="inner">
			<p>MINBAL Licensing offers a wide range of music licensing and production services. Search our diverse music library for and license ready-made music, let us know how we can refine and tailor existing tracks to suit your needs, or hire MINBAL to create new, custom music for your project. Please contact  <a href="mailto:benj@minbal.com">benj@minbal.com</a> for more information on MINBAL Licensing.</p>
		</div>
		<aside>
			<section class="licensing-cta">
				<%=link_to "Click Here To Enter Music Library", "https://composerly.com/minbal", target: "_blank" %>
			</section>
		</aside>
	</div>
</section>
