---
title: Benjamin Balcom
---

<section class="landing-hero">
	<div class="landing-hero--video">
		<img src="https://s3-us-west-2.amazonaws.com/minbal.v3/MINBALstudio_compress_2.jpg" alt="Benjamin Balcom">
	</div>
	<div class="landing-hero--overlay">
		<div class="landing-hero--overlay-copy">
			<h1><span>Benjamin Balcom</span> is a composer, mixing engineer and music producer</h1>
		</div>
	</div>
</section>

<section class="work--container">

	<h2>He collaborates with artists, creatives, agencies and directors to transform records, advertising campaigns and films into enagaging experiences.</h2>

	<div class="video-player-container">
		<iframe id="video-player" src="https://player.vimeo.com/video/203932733?title=0&byline=0&portrait=0&autoplay=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>

	<ul class="three-video-grid">
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/yt_poster.jpg" alt="YMCA" />
			<div class="video-overlay" data-embed="https://www.youtube.com/embed/IbJQsbrwos0?showinfo=0&autoplay=1">
				<h3>YMCA</h3>
				<p>Us</p>
	  	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/gatorade2.jpg" alt="Chase Bank"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/267017164?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Gatorade</h3>
				<p>Undefeated (Director's Cut)</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/622778200.jpg" alt="Chase Bank"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203945066?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Chase Bank</h3>
				<p>Morning Bell</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618345840.jpg" alt="YMCA" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203944387?title=0&byline=0&portrait=0&autoplay=1">
				<h3>YMCA</h3>
				<p>Idle Hands</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618341494.jpg" alt="YMCA"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203932733?title=0&byline=0&portrait=0&autoplay=1" >
				<h3>YMCA</h3>
				<p>Places</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618357024.jpg" alt="PBS"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203953854?title=0&byline=0&portrait=0&autoplay=1">
				<h3>PBS</h3>
				<p>Point of View Documentary</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/584478450.jpg" alt="Xfinity" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/177103750?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Xfinity</h3>
				<p>Glued</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/662763597.jpg" alt="Shea Moisture" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/239703229?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Shea Moisture</h3>
				<p>Breaking Down The Walls</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/115358815.jpg" alt="The Pruitt-Igoe Myth" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/18356414?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Pruitt-Igoe Myth</h3>
				<p>Feature Length Documentary</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618348809.jpg" alt="The Experimental City"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203948152?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Experimental City</h3>
				<p>Feature Length Documentary</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618343345.jpg" alt="The Experimental City" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203884978?title=0&byline=0&portrait=0&autoplay=1" >
				<h3>Experimental City</h3>
				<p>Feature Length Documentary</p>
    	</div>
		</li>
	</ul>

	<h2>Select Discography</h2>

	<ul class="six-discog-grid">
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/5gOLjRdmRMWLwe8t5gj0Jb?si=Wu6gKtmjQJeG8uchpNc0VA" target="_blank">
				<img src="https://images.adsttc.com/media/images/55f8/16bb/9644/1e78/8b00/00ae/slideshow/5472151775_2959191eab_o.jpg?1442322103" alt="Benjamon Balcom"/>
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Benjamin Balcom</li>
				<li>Album: Pruitt Igoe Myth OST</li>
				<li>Credits: Writer, Producer, Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/38R7Y0LeRo5zUwQjkkUW9z?si=CpwL3PYXSPaerEAUxVou7w" target="_blank">
				<img src="https://img.discogs.com/2oljqqu36n0MuVHu-rlnMWgDeEs=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4712269-1373067570-6806.jpeg.jpg" alt="Daughn Gibson"/>
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Daughan Gibson</li>
				<li>Album: Me Moan (Sub Pop)</li>
				<li>Credits: Producer, Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/0eyGc6ESEK9GLl8XG4djRQ?si=zjU6iJh9R069s7SNCaqDqQ" target="_blank">
				<img src="https://img.discogs.com/oaiEbWdpsIHLfAW6e4kgFNVfhBs=/fit-in/530x526/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1448892-1370957711-6732.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Mahjongg</li>
				<li>Album: Kontpab (K)</li>
				<li>Credits: Producer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/track/0lkYdh6qhmQdN8Q1oZpSmc?si=ISQd-IWEQg25R7kDD9B4Eg" target="_blank">
					<img src="https://img.discogs.com/g-2SiFH36u_XHe1w6guvfGAdEyg=/fit-in/598x598/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3262184-1322872614.jpeg.jpg" alt="Atlas Sound" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Atlas Sound</li>
				<li>Album: Logos (4AD, Kranky)</li>
				<li>Credits: Engineer, Piano</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://intallbuildings.bandcamp.com/album/driver" target="_blank">
				<img src="https://f4.bcbits.com/img/a2867324135_10.jpg" alt="In Tall Buildings"/>
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: In Tall Buildings</li>
				<li>Album: Driver (Western Vinyl)</li>
				<li>Credits: Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/4ENBX8H3oyQ0j8x2k42hB5?si=K9-k1518S6a383HZmOGHKA" target="_blank">
				<img src="https://img.discogs.com/IKJqlZ0221hqIUrv8qLwldnwlOI=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-8220496-1457385109-2037.jpeg.jpg" alt="Carter Tanto" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Carter Tanton</li>
				<li>Album: Jettison The Valley (Western Vinyl)</li>
				<li>Credits: Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/6XrxLe2fvhQFgkLYPfSL7c?si=vsdtrXafTpa9Vak3TtIDzQ" target="_blank">
					<img src="https://img.discogs.com/e3n_3DTJumE6KHlFGsnTb5FLSy0=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-511241-1305852763.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Mahjongg</li>
				<li>Album: Raydoncong 2005 (K)</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://cave.bandcamp.com/album/pure-moods" target="_blank">
				<img src="https://img.discogs.com/RVUiI_D7w6Gh5f_bnOTokK-Htag=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-2267399-1288371241.jpeg.jpg" alt="Cave" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Cave</li>
				<li>Album: Pure Moods (Drag City)</li>
				<li>Credits: Engineer, Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://cave.bandcamp.com/album/threace" target="_blank">
				<img src="https://img.discogs.com/oX9v-EMNOUBRWaZkzogJGsh925g=/fit-in/480x480/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-5160341-1386135019-3656.jpeg.jpg" alt="Cave" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Cave</li>
				<li>Album: Threace (Drag City)</li>
				<li>Credits: Recorded By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://quinkirchner.bandcamp.com/album/the-other-side-of-time" target="_blank">
				<img src="https://img.discogs.com/6WQYgGe6SA6rSEtmCRqiOMKpr78=/fit-in/600x603/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-11447382-1516493543-5184.jpeg.jpg" alt="Quinn Kirchner" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time (Astral Spirits)</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://michaelvallera.bandcamp.com/track/all-perfect-days" target="_blank">
				<img src="https://img.discogs.com/duMOppKPYpZyVRVaiGxZZYA5dho=/fit-in/600x608/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-12137929-1529060223-9025.jpeg.jpg" alt="Michael Vallera" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Michael Vallera</li>
				<li>Album: All Perfect Days (Denovali Records)</li>
				<li>Credits: Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://michaelvallera.bandcamp.com/album/vivid-flu" target="_blank">
				<img src="https://img.discogs.com/34mgjM2qQde9948hM9VbR3xTkgk=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-9741839-1485644588-8175.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Michael Vallera</li>
				<li>Album: Vivid Flu (Denovali Records)</li>
				<li>Credits: Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://eremiterecords.bandcamp.com/album/simultonality" target="_blank">
				<img src="https://img.discogs.com/6fy-mG00NGtFSEclFrgocO-XuC8=/fit-in/348x348/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-10050856-1490758682-4466.jpeg.jpg" alt="Joshua Abrams" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Joshua Abrams &amp; Natural Information Society</li>
				<li>Album: Simultonality (Eremite)</li>
				<li>Credits: Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/592wvgWW3gMrhfP2RHj7dJ?si=CevVd44hQl62KN9wjHadMg" target="_blank">
				<img src="http://www.thrilljockey.com/spree/products/347/product/241_1500.jpg?1442283780" alt="Lazer Crystal"/>
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Lazer Crystal</li>
				<li>Album: MCMLXXX (Thrill Jockey)</li>
				<li>Credits: Recorded By, Mixed By</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://cave.bandcamp.com/album/neverendless" target="_blank">
				<img src="https://img.discogs.com/aIUSqPZkeWceKEJS3fYGENIBrsY=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3109134-1451347875-3410.jpeg.jpg" alt="Cave" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Cave</li>
				<li>Album: Neverendless (Drag City)</li>
				<li>Credits: Recorded By, Mixed By</li>
			</ul>
		</li>
	</ul>

</section>
