---
title: MINBAL
---

<section class="fullscreen-bg">

	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/main/optimized/main_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/main/optimized/main_bw_mobile.jpg" alt=""/>
	</picture>

	<div class="landing-copy-wrap">
		<h1>Minbal</h1>
		<div class="landing-copy">
			Recording studio, music licensing and original music composition.
		</div>
	</div>

</section>