---
title: Benjamin Balcom
---

<section class="landing-hero">
<!-- 	<div class="landing-hero--video">
		<video autoplay="" muted="" loop="" playsinline="" poster="" id="impactVideo" src="https://s3.amazonaws.com/minbal-assets/477972405.mp4"><source src="https://s3.amazonaws.com/minbal-assets/477972405.mp4" type="video/mp4"></video>
	</div> -->
	<div class="landing-hero--overlay">
		<div class="landing-hero--overlay-copy">
			<h1><span>Benjamin Balcom</span> is a composer, mixing engineer and music producer</h1>
		</div>
</section>

<section class="work--container">

	<h2>He collaborates with artists, creatives, agencies and directors to transform records, advertising campaigns and films into enagaging experiences.</h2>

	<div class="video-player-container">
		<iframe id="video-player" src="https://player.vimeo.com/video/203932733?title=0&byline=0&portrait=0&autoplay=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>

	<ul class="three-video-grid">
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/yt_poster.jpg" alt="YMCA" />
			<div class="video-overlay" data-embed="https://www.youtube.com/embed/IbJQsbrwos0?showinfo=0&autoplay=1">
				<h3>YMCA</h3>
				<p>Us</p>
	  	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/gatorade2.jpg" alt="Chase Bank"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/267017164?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Gatorade</h3>
				<p>Undefeated (Director's Cut)</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/622778200.jpg" alt="Chase Bank"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203945066?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Chase Bank</h3>
				<p>Morning Bell</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618345840.jpg" alt="YMCA" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203944387?title=0&byline=0&portrait=0&autoplay=1">
				<h3>YMCA</h3>
				<p>Idle Hands</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618341494.jpg" alt="YMCA"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203932733?title=0&byline=0&portrait=0&autoplay=1" >
				<h3>YMCA</h3>
				<p>Places</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618357024.jpg" alt="PBS"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203953854?title=0&byline=0&portrait=0&autoplay=1">
				<h3>PBS</h3>
				<p>Point of View Documentary</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/584478450.jpg" alt="Xfinity" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/177103750?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Xfinity</h3>
				<p>Glued</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/662763597.jpg" alt="Shea Moisture" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/239703229?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Shea Moisture</h3>
				<p>Breaking Down The Walls</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/115358815.jpg" alt="The Pruitt-Igoe Myth" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/18356414?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Pruitt-Igoe Myth</h3>
				<p>Feature Length Documentary</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618348809.jpg" alt="The Experimental City"/>
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203948152?title=0&byline=0&portrait=0&autoplay=1">
				<h3>Experimental City</h3>
				<p>Feature Length Documentary</p>
    	</div>
		</li>
		<li>
			<img src="https://s3.amazonaws.com/minbal-assets/poster/618343345.jpg" alt="The Experimental City" />
			<div class="video-overlay" data-embed="https://player.vimeo.com/video/203884978?title=0&byline=0&portrait=0&autoplay=1" >
				<h3>Experimental City</h3>
				<p>Feature Length Documentary</p>
    	</div>
		</li>
	</ul>

	<h2>Select Discography</h2>

	<ul class="five-discog-grid">
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/6XrxLe2fvhQFgkLYPfSL7c?si=vsdtrXafTpa9Vak3TtIDzQ">
				<img src="https://img.discogs.com/e3n_3DTJumE6KHlFGsnTb5FLSy0=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-511241-1305852763.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Mahjongg</li>
				<li>Album: Raydoncong 2005 (K)</li>
				<li>Credits: Mixer, Engineer, Producer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/track/0lkYdh6qhmQdN8Q1oZpSmc?si=ISQd-IWEQg25R7kDD9B4Eg">
				<img src="https://img.discogs.com/g-2SiFH36u_XHe1w6guvfGAdEyg=/fit-in/598x598/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3262184-1322872614.jpeg.jpg" alt="Atlas Sound" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Atlas Sound</li>
				<li>Album: Logos (Kranky)</li>
				<li>Credits: Engineer, Piano</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="">
				<img src="https://img.discogs.com/6WQYgGe6SA6rSEtmCRqiOMKpr78=/fit-in/600x603/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-11447382-1516493543-5184.jpeg.jpg" alt="Quinn Kirchner" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/38R7Y0LeRo5zUwQjkkUW9z?si=CpwL3PYXSPaerEAUxVou7w">
				<img src="https://img.discogs.com/2oljqqu36n0MuVHu-rlnMWgDeEs=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4712269-1373067570-6806.jpeg.jpg" alt="Daughn Gibson"/>
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="#">
				<img src="https://img.discogs.com/e3n_3DTJumE6KHlFGsnTb5FLSy0=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-511241-1305852763.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/6XrxLe2fvhQFgkLYPfSL7c?si=vsdtrXafTpa9Vak3TtIDzQ">
				<img src="https://img.discogs.com/e3n_3DTJumE6KHlFGsnTb5FLSy0=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-511241-1305852763.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Mahjongg</li>
				<li>Album: Raydoncong 2005 (K)</li>
				<li>Credits: Mixer, Engineer, Producer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/track/0lkYdh6qhmQdN8Q1oZpSmc?si=ISQd-IWEQg25R7kDD9B4Eg">
				<img src="https://img.discogs.com/g-2SiFH36u_XHe1w6guvfGAdEyg=/fit-in/598x598/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3262184-1322872614.jpeg.jpg" alt="Atlas Sound" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Atlas Sound</li>
				<li>Album: Logos (Kranky)</li>
				<li>Credits: Engineer, Piano</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="">
				<img src="https://img.discogs.com/6WQYgGe6SA6rSEtmCRqiOMKpr78=/fit-in/600x603/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-11447382-1516493543-5184.jpeg.jpg" alt="Quinn Kirchner" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/38R7Y0LeRo5zUwQjkkUW9z?si=CpwL3PYXSPaerEAUxVou7w">
				<img src="https://img.discogs.com/2oljqqu36n0MuVHu-rlnMWgDeEs=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4712269-1373067570-6806.jpeg.jpg" alt="Daughn Gibson"/>
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="#">
				<img src="https://img.discogs.com/e3n_3DTJumE6KHlFGsnTb5FLSy0=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-511241-1305852763.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/6XrxLe2fvhQFgkLYPfSL7c?si=vsdtrXafTpa9Vak3TtIDzQ">
				<img src="https://img.discogs.com/e3n_3DTJumE6KHlFGsnTb5FLSy0=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-511241-1305852763.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Mahjongg</li>
				<li>Album: Raydoncong 2005 (K)</li>
				<li>Credits: Mixer, Engineer, Producer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/track/0lkYdh6qhmQdN8Q1oZpSmc?si=ISQd-IWEQg25R7kDD9B4Eg">
				<img src="https://img.discogs.com/g-2SiFH36u_XHe1w6guvfGAdEyg=/fit-in/598x598/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3262184-1322872614.jpeg.jpg" alt="Atlas Sound" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Atlas Sound</li>
				<li>Album: Logos (Kranky)</li>
				<li>Credits: Engineer, Piano</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="">
				<img src="https://img.discogs.com/6WQYgGe6SA6rSEtmCRqiOMKpr78=/fit-in/600x603/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-11447382-1516493543-5184.jpeg.jpg" alt="Quinn Kirchner" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="https://open.spotify.com/album/38R7Y0LeRo5zUwQjkkUW9z?si=CpwL3PYXSPaerEAUxVou7w">
				<img src="https://img.discogs.com/2oljqqu36n0MuVHu-rlnMWgDeEs=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4712269-1373067570-6806.jpeg.jpg" alt="Daughn Gibson"/>
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
		<li>
			<div class="discog-entry-art">
				<a href="#">
				<img src="https://img.discogs.com/e3n_3DTJumE6KHlFGsnTb5FLSy0=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-511241-1305852763.jpeg.jpg" alt="Mahjongg" />
				</a>
			</div>
			<ul class="discog-entry-meta">
				<li>Artist: Quinn Kirchner</li>
				<li>Album: The Other Side Of Time</li>
				<li>Credits: Engineer</li>
			</ul>
		</li>
	</ul>

</section>
