---
title: MINBAL
---

<section class="hero primary">
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/main/optimized/main_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/main/optimized/main_bw_mobile.jpg" alt="Bass Rig"/>
	</picture>
</section>

<section class="landing-menu-wrap">
	<h1>Minbal</h1>
	<ul class="landing-menu">
		<li>
			<%= link_to 'Studio', "#{config[:site_url]}/studio" %>
		</li>
		<li>
			<%= link_to 'Licensing', "#{config[:site_url]}/licensing" %>
		</li>
		<li>
			<%=link_to "Composition", "#{config[:site_url]}/composition" %>
		</li>
	</ul>
</section>
