---
title: MINBAL
---

<div class="main-landing-container">
	<ul class="main-landing-container-nav">
		<li>
			<span>Studio</span>
		</li>
		<li>
			<span>Licensing</span>
		</li>
		<li>
			<span>Composition</span>
		</li>
	</ul>
</div>
