---
title: Reel Boilerplate Title
---

<section class="landing-hero">
	<div class="landing-hero--video">
		<img src="https://s3-us-west-2.amazonaws.com/minbal.v3/MINBALstudio_compress_2.jpg" alt="Benjamin Balcom">
	</div>
	<div class="landing-hero--overlay">
		<div class="landing-hero--overlay-copy">
			<h1><span>Benjamin Balcom</span> is a composer, mixing engineer and music producer</h1>
		</div>
	</div>
</section>

<section class="work--container">

	<h2>Reel Title Goes Here Yes</h2>

	<!-- ReelCrafter reel: Ad Music -->
	<!-- Update src value with new embed url -->
	<iframe
	 width="100%"
	 height="400"
	 scrolling="no"
	 frameborder="no"
	 src="https://app.reelcrafter.com/embed/f4ba6ff67403d4a6243b9d710d5cf4e2?primaryColor=%23888&theme=dark&hideBranding=true">
	</iframe>
	<!-- End ReelCrafter reel -->

</section>
