---
title: STUDIO - MINBAL
---

<section class="hero">
	<h2 class="h2">Studio</h2>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container">
	<div class="content-container-body">
		<p>MINBAL is a music production and recording studio owned by Benjamin Balcom in Chicago, Illinois.</p>
		The studio offers a creative and comfortable environment consisting of four acoustically isolated rooms tied together with connections for audio, MIDI and video signals. MINBAL features a Pro Tools|HD 2 Accel system with 24 channels of Apogee 192k I/O wired into a Quad Eight Ventura console. In addition to Pro Tools we offer analog recording and the studio has a variety of instruments and equipment all of which is available for use during your session. Please take a look at our rates for further information and feel free to contact us if you have any additional questions, would like to inquire about availability or if you would like to set up a time to tour the studio.</p>
	</div>
</section>

<section class="hero-2"></section>

<section class="content-container">
	<div class="content-container-body">
		<p>MINBAL is a music production and recording studio owned by Benjamin Balcom in Chicago, Illinois.</p>
		<p>The studio offers a creative and comfortable environment consisting of four acoustically isolated rooms tied together with connections for audio, MIDI and video signals. MINBAL features a Pro Tools|HD 2 Accel system with 24 channels of Apogee 192k I/O wired into a Quad Eight Ventura console. In addition to Pro Tools we offer analog recording and the studio has a variety of instruments and equipment all of which is available for use during your session.</p>
		<p>Please take a look at our rates for further information and feel free to contact us if you have any additional questions, would like to inquire about availability or if you would like to set up a time to tour the studio.</p>
	</div>
</section>

<section class="hero"></section>

<section class="content-container">
	<div class="content-container-body">
		<p>$250 per day  $165 per half-day </p>
		<p>Freelance engineers are welcome. Assistants are available for $100/day or $50/half-day.</p>

		<p>Rates are based on 10 hour days. Half-days should run no longer than 5 hours.</p>

		<p>We require a 50% deposit or payment in full to book studio time. A discount will be applied if you choose to pay in full when you book your session. Rates for paying in full are $225 per day or $155 per half-day. We are able to hold dates for a short time in order to confirm potential dates prior to booking.</p>

		<p>Additional fees are charged for use of the tape machines. The fees are $25/day for the use of the Scully 280 and a $15/day for use of the Ampex AG-440. Please notify us in advance if you will need tape for your session or inquire about studio reels for use in tracking basics or for mixdown if you are interested.</p>

		<p>For booking please contact our studio manager Doug Malone: doug@minbal.com</p>
		<p>For all other information: info@minbal.com</p>
		<p>MINBAL  800 N Sacramento  Chicago, IL 60622  tel. 773.263.6291</p>

		<p>We are located in Humboldt Park on the northwest corner of Chicago and Sacramento. There is parking near the studio on the west side of Sacramento Blvd just north of Chicago as well as on Chicago Ave west of Sacramento Blvd.</p>

		<p>MINBAL is not responsible for data, session/project files or masters. We recommend that you bring in your own hard drive (Extended Journaled Mac Format). We also recommend that data be backed up periodically throughout your session as well as placed on additional drives after your session is over.</p>
	</div>
</section>
