---
title: STUDIO - MINBAL
---

<div class="studio-landing-wrap">

	<div class="panel-bg-1"></div>

	<div class="panel-content">
		<p>MINBAL is a music production and recording studio owned by Benjamin Balcom in Chicago, Illinois.<br/><br/>

		The studio offers a creative and comfortable environment consisting of four acoustically isolated rooms tied together with connections for audio, MIDI and video signals. MINBAL features a Pro Tools|HD 2 Accel system with 24 channels of Apogee 192k I/O wired into a Quad Eight Ventura console. In addition to Pro Tools we offer analog recording and the studio has a variety of instruments and equipment all of which is available for use during your session.<br/><br/>

		Please take a look at our rates for further information and feel free to contact us if you have any additional questions, would like to inquire about availability or if you would like to set up a time to tour the studio.</p>
	</div>

	<div class="panel-bg-2">Hello</div>

	<div class="panel-content">
		<p>MINBAL is a music production and recording studio owned by Benjamin Balcom in Chicago, Illinois.<br/><br/>

		The studio offers a creative and comfortable environment consisting of four acoustically isolated rooms tied together with connections for audio, MIDI and video signals. MINBAL features a Pro Tools|HD 2 Accel system with 24 channels of Apogee 192k I/O wired into a Quad Eight Ventura console. In addition to Pro Tools we offer analog recording and the studio has a variety of instruments and equipment all of which is available for use during your session.<br/><br/>

		Please take a look at our rates for further information and feel free to contact us if you have any additional questions, would like to inquire about availability or if you would like to set up a time to tour the studio.</p>
	</div>

	<div class="panel-bg-3">Hello</div>

	<div class="panel-content">
		<p>MINBAL is a music production and recording studio owned by Benjamin Balcom in Chicago, Illinois.<br/><br/>

		The studio offers a creative and comfortable environment consisting of four acoustically isolated rooms tied together with connections for audio, MIDI and video signals. MINBAL features a Pro Tools|HD 2 Accel system with 24 channels of Apogee 192k I/O wired into a Quad Eight Ventura console. In addition to Pro Tools we offer analog recording and the studio has a variety of instruments and equipment all of which is available for use during your session.<br/><br/>

		Please take a look at our rates for further information and feel free to contact us if you have any additional questions, would like to inquire about availability or if you would like to set up a time to tour the studio.</p>
	</div>

	<div class="panel-bg-4">Hello</div>

	<div class="panel-content">
		<p>MINBAL is a music production and recording studio owned by Benjamin Balcom in Chicago, Illinois.<br/><br/>

		The studio offers a creative and comfortable environment consisting of four acoustically isolated rooms tied together with connections for audio, MIDI and video signals. MINBAL features a Pro Tools|HD 2 Accel system with 24 channels of Apogee 192k I/O wired into a Quad Eight Ventura console. In addition to Pro Tools we offer analog recording and the studio has a variety of instruments and equipment all of which is available for use during your session.<br/><br/>

		Please take a look at our rates for further information and feel free to contact us if you have any additional questions, would like to inquire about availability or if you would like to set up a time to tour the studio.</p>
	</div>

</div>